.arrow {
  position: absolute;
  top: 0px;
  display: block;
  width: 50px;
  height: 40px;
  background-image: url("/img/slider/freccie.jpg");
  background-repeat: no-repeat;
}
.arrow.prev {
  left: 0px;
  background-position: 0px 0px;
}
.arrow.prev:hover {
  background-position: -110px 0px;
}
.arrow.next {
  left: 60px;
  background-position: -60px 0px;
}
.arrow.next:hover {
  background-position: -170px 0px;
}
.slider {
  width: 100%;
  margin-top: 10px;
}
.cornice {
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  font-size: 0px;
  line-height: 0px;
}
.cornice img {
  cursor: pointer;
}
.slider .didascalia {
  position: relative;
  padding: 10px 0px 10px 120px;
  min-height: 30px;
}
.slide {
  width: 100%;
}
.slide.ng-hide-add {
  opacity: 1;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
.slide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
}
.slide.ng-hide-remove {
  display: block !important;
  opacity: 0;
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
}
.slide,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
